/**
 * Grid container
 */
#recommendations {
list-style-type: none;
position: relative; /** Needed to ensure items are laid out relative to this container **/
margin: 0;
margin-top: 60px;
}

/**
 * Grid items
 */
#recommendations li {
width: 300px;
background-color: #ffffff;
border: 1px solid #dedede;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
display: none; /** Hide items initially to avoid a flicker effect **/
  cursor: pointer;
padding: 4px;
}

#recommendations li img.product-image {
display: block;
max-width: 290px;
margin: auto;
}

/**
 * Grid item text
 */
#recommendations li p {
color: #666;
font-size: 12px;
margin: 7px 0 0 7px;
margin-bottom: 7px;
}

/**
 * Some extra styles to randomize heights of grid items.
 */
#recommendations ali:nth-child(3n) {
height: 175px;
}

#recommendations ali:nth-child(4n-3) {
padding-bottom: 30px;
}

#recommendations ali:nth-child(5n) {
height: 250px;
}

/** General page styling **/
  
