@font-face {
  font-family: 'Helvetica Neue';
  src: url('/static/fonts/HelveticaLTStd-Light.otf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Helvetica Neue';
  background-color: #f1f1ec;
}

#base {
  position: absolute;
  left: 50%;
  top: 50%;
  /*margin-left: -485px;
  margin-top: -335px;*/
  margin-left: -520px;
  margin-top: -360px;
}

#splash {
  margin-bottom: 50px;
}

input[type=text] {
  border-radius: 5px;
  width: 450px;
  height: 27px;
  padding-top: 10px;
  padding-left: 10px;
}

#video-container {
  padding: 24px 37.5px;
  border: 1px solid #D7D6D1;
  background: white;
}

h1, h2, h3 {
}

/*
#base {
  margin-bottom: 100px;
}

div.team-member {
  margin-bottom: 50px;
  padding-bottom: 50px;
}

h1 {
  margin-top: 100px;
  margin-bottom: 150px;  
  font-size: 72px;
  line-height: 1;
  text-align: center;
}

h2 {
  font-size: 50px;
  margin-bottom: 200px;
  text-align: center;
} 

div.team-member h3 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 100px;
}

div.team-member p {
  font-size: 36px;
  line-height: 1.5;
}

div#footer {
  text-align: center;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background: white;
  border-top: 1px solid #DEDEDE;
}

div#cta {
  margin-top: 100px;
}

div#cta a.btn.btn-primary.btn-large {
  width: 270px;
  display: block;
  margin: auto;
  text-align: center;
  font-size: 36px;
  padding-left: 20px;
  padding-right: 20px;
}
*/
