@font-face {
  font-family: 'Helvetica Neue';
  src: url('/static/fonts/HelveticaLTStd-Light.otf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Helvetica Neue';
  background-color: #f1f1ec;
}

#base {
  position: absolute;
  left: 50%;
  top: 50%;
  /*margin-left: -485px;
  margin-top: -335px;*/
  margin-left: -520px;
  margin-top: -360px;
}

#splash {
  margin-bottom: 50px;
}

input[type=text] {
  border-radius: 5px;
  width: 450px;
  height: 27px;
  padding-top: 10px;
  padding-left: 10px;
}

#video-container {
  padding: 24px 37.5px;
  border: 1px solid #D7D6D1;
  background: white;
}

#link-container {
  display: none;
}

#link-container.has-link {
  display: block;
}

#link-container h3 {
  margin-bottom: 3px;
}

a#zentube-link {
  font-size: 18px;
  line-height: 1;
}

