{% extends "base.html" %}
{% block title %}Tipsy Duchess{% end %}

{% block custom_css %}
  <link rel="stylesheet" href="/static/css/home.css">
{% end %}

{% block custom_js %}
  <script type="text/javascript" src="/static/js/zentube.js"></script>
{% end %}

{% block content %}

<div id='base'>
  <div id='splash'>
    <h1>ZenTube</h1>
    <h2>Share youtube videos without all the clutter</h2>
  </div>
  <h3>Paste a youtube link:</h3>
  <form class='form-horizontal'>
    <div class='control-group'>
      <input type='text' id='youtube-link' placeholder='http://www.youtube.com/watch?v=Pkj3UCDCchk' class='input-large'/>
    </div>
  </form>
  <div id='link-container'>
    <h3>Share this link:</h3>
    <a id='zentube-link' href='#'></a>
  </div>
</div>
{% end %}
